<div class='dad-joke'>
  {{#if this.error}}
    {{this.error}}
  {{else if this.joke }}
    {{this.joke}}
  {{else if this.noJoke}}
    No Joke found!
  {{else}}
    {{#if @searchTerm}}
      Search for a joke containing {{@searchTerm}}
    {{else}}
      Loading...
    {{/if}}
  {{/if}}
</div>
